
body{
    font-family: 'Space Grotesk', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0;
    color: black;
}

.imagenProductos{
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    padding-top: 80px;
}

.contenedor div{
    background-color: darkred;
    border-radius: 0 0 20px 20px;
}

.contenedor div:hover{
    transition: all 0.3s;
    background-color: bisque;
}

.informacion{
    height:150px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    gap:15px;

}

.informacion p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight:300 ;

}

.informacion .precio{
    font-size:20px;
    font-weight: 500;
}

.informacion button{
    background-color: firebrick;
    width: 100px;
    height: 35;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.informacion button:hover{
    background-color:beige;

}